<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      PayFast Payment Response
    </title>
    <script src="PayFast.js" type="text/javascript"></script>     
  </head>
  
  <body>
    <!--"https://www.payfast.co.za/eng/query/validate-->
    <input type="hidden" name="payfast_url" value="https://sandbox.payfast.co.za/eng/query/validate">
    <input type="hidden" name="merchant_id" value="10000100">
    
  </body>
  
</html>
